* {
  box-sizing: border-box;
  /* border: 1px solid; */
}

nav {
  border: 1px solid;
  padding: 1% 4%;
  position: relative;
  font-family: IBM Plex Sans;
}


.nav-items {
    position: absolute;
    right: 1%;
    transform: translateX(1%);
    width: 30%;
}

.nav-brand,
.nav-brand > a {
    display: inline-block;
    margin: 0;
}

.nav-brand > a {
    font-size: xx-large;
    text-decoration: none;
}

.nav-brand > img {
    width: 50px;
}

nav p {
    display: inline-block;
    margin: 0 4%;
}

#central {
    text-align: center;
}

#attraction {
    text-align: center;
    margin: 0 10%;
}

#attraction>h4 {
    font-family: Dancing Script;
}

#weekly-preview {
    border: 1px solid;
    margin: 0 2%;
    width: 30%;
    height: 400px;
    display: inline-block;
}

#popular {
    border: 1px solid;
    margin: 0 2.5%;
    width: 60%;
    height: 400px;
    display: inline-block;
}

#carousel1,
#carousel2 {
    border: 1px solid;
    
    margin: 50px 0;
    height: 200px;
}

.alignVertical {
  top: 50%;
  transform: translateY(-50%);
}